html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-style {
  border: 0;
  padding: .5em;
  margin: 1em;
  
}
.middle {
  border: 0;
  padding: .2em;
  margin: 1em;
  background-color: seashell;
}

.react-img {
  width: 100%;
  padding: .2em;
  margin: 0em;
}
.react-img > img {
  width: 100%;
  height: 8em;
}

.intro {
  display: flex;
}

.p-text {
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  border: 0;
  padding: .2em;
  margin: 1em;
  background-color: seashell;
}

.code-img {
  width: 100%;
  padding: .2em;
}

.code-img > img {
  width: 100%;
  height: 8em;
}

.intro-2 {
  display: flex;
}

.text {
  box-sizing: content-box;
    width: 300px;
    height: 100px;    
    border: 3px solid;
    background-color: gray;
} 


.images {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.images {
  border: 0;
  padding: .5em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* .images > img { 
  border: .2em solid red;
  width: 100%;
} */
/* 
.img-2 {
  border: .2em solid red;
  width: 24%;
}

.img-3 {
  border: .2em solid red;
  width: 24%;
}

.img-4 {
  border: .2em solid red;
  width: 24%;
} */



.foot {
  border: 0;
  padding: .5em;
  margin: 1em;
}

.h1-text {
  color: seashell;
  margin: 2em;
}

.h1-text {
  display: flex;
  justify-content: center;
}

.foot-img {
  display: flex;
  justify-content: space-around;
}

.foot-img {
  margin: 1em;
}

.copyright {
  display: flex;
  justify-content: center;
}
.copyright {
  color: seashell;
  margin: 8em;
  
}